
@import '~rc-easyui/dist/themes/default/easyui.css';
@import '~rc-easyui/dist/themes/icon.css';
@import '~rc-easyui/dist/themes/react.css';



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form{
  margin: auto;
  padding: 20px;
  width: 20%;
  height: 80%;
  font-weight: bold;
  color: green;
}

.inputs{
  margin: 10px;
  
  color: black;

 
}

.btn{
  color: #fff;
  background: blue;
  padding: 8px 15px;

}

.btn:hover {
  color: black;
  background: transparent;
  cursor: pointer;
}

table , th, td {
  border: green 1px solid;
  border-collapse: collapse;
  margin: auto;
  
}

th, td{
  padding: 10px;
}
.body{
  width: 50%;
  margin: auto;
  min-height: 50%;
  
  
  
}

.body  h3{
  margin: auto;
  
}

.body ul li h3{
  text-align: justify; /* For Edge */
  -moz-text-align-last: center; /* For Firefox prior 58.0 */
  text-align-last: center;
}

.spans{
  margin-left: 15px;
  color: red;
  cursor: pointer;
}

.spans:hover{
  border: red 1px solid;
  font-weight: bold;
}